.main-content{
    padding: 0;
}

.body-content{
    margin: 0;
}

.main{
    height: 100vh;
    width: 100%;
    position: absolute;
}


.wrapper, .slide{
    width: 100%;
    height: 100%;
}

.slide::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.wrapper{
    position: relative;
}

.slide .image{    
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide .image-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.image-data span.text{
    font-size: 3.5rem;
    font-weight: 400;
    color: var(--panel-color);
}

.image-data h2{
    font-size: 4.5rem;
    font-weight: 600;
    color: var(--secondary-color);
}
.swiper-button-next{
    right: 5rem !important;
}

.swiper-button-prev {
    left: 5rem !important;
}
    .nav-btn {
        height: 5rem !important;
        width: 5rem !important;
        border-radius: 50%;
        background: #1ABC9C75;
    }
    .nav-btn:hover {
        background: #1ABC9C85;
    }

    .nav-btn::before,
    .nav-btn::after {
        font-size: 2.8rem !important;
        color: var(--panel-color);
    }

.swiper-pagination-bullet {
    opacity: 1 !important;
    height: 1.3rem !important;
    width: 1.3rem !important;
    background-color: #1ABC9C85 !important;
    visibility: hidden;
}

.swiper-pagination-bullet-active {
    border: .2rem solid var(--primary-color) !important;
    background-color: var(--secondary-color) !important;
}

/* ------ media queries ------ */
@media screen and (max-width: 768px){
    .nav-btn{
        visibility: hidden;
    }

    .swiper-pagination-bullet{
        visibility: visible;
    }
}