@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Index.css" rel="stylesheet" />
<link href="~/Content/swiper-bundle.min.css" rel="stylesheet" />

<section class="main">
    <div class="wrapper">
        <div class="slide">
            <img src="~/Img/slider1.jpg" alt="" class="image" />
            <div class="image-data">
                <span class="text">ladwadadaw</span>
                <h2>
                    lorem ipsum an se <br />
                    rkadwa khalfum aw
                </h2>
            </div>
        </div>
    </div>
</section>
