
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Login.css" rel="stylesheet" />

<div class="container">    
    <div class="cover">  
        <div class="front">
            <img src="~/Img/frontImg.jpg" alt="">
            <div class="text">
                <span class="text-1">Every new friend is a <br> new adventure</span>
                <span class="text-2">Let's get connected</span>
            </div>
        </div>
    </div>
    <div class="forms">
        <div class="form-content">
            <div class="login-form">
                <div class="title">Login</div>
                <form action="@Url.Action("Login","Home")"method="post">
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="uil uil-envelope-alt"></i>
                            <input type="email" name="EMAIL_PERSON" placeholder="Enter your email" required>
                        </div>
                        <div class="input-box">
                            <i class="uil uil-lock"></i>
                            <input type="password" name="PASS_PERSON" placeholder="Enter your password" required>
                        </div>
                        <div class="text"><a href="#">Forgot password?</a></div>
                        @if (ViewData["Message"] != null)
                        {
                            <div class="alert-danger" role="alert">
                                @ViewData["Message"]
                            </div>
                        }
                        <div class="button input-box">
                            <input type="submit" value="Sumbit">
                        </div>
                        <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
                    </div>
                </form>
            </div>           
        </div>
    </div>
</div>
<script>
    const guide = document.querySelector(".main-content .top-nav .left h2");
    guide.innerHTML = 'You are on > @Html.ActionLink("Home", "Index", "Home")> @Html.ActionLink("Login", "Login", "Home")';
</script>


